html {
  background-color: #04ABAB !important;
  color: #ffff;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

.App-login {
  text-align: center;
  justify-content: center;
}

form {
  height: 480px;
  background-color: #048387;
  border-radius: 10px;
  padding: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-inline: 10%;
  left: 22%;
  margin-top: 78px;
  justify-content: center;
}

.name-login {
  position: relative;
  bottom: 30px;
  text-transform: uppercase;
}

.acess label {
  font-size: 1rem;
  position: relative;
  bottom: 8px;
  right: 85px;
  display: block;
  margin-top: 25px;
}

input {
  margin-bottom: 5px;
  max-width: 100%;
  padding: 11px;
  padding-inline: 30px;
  border-radius: 7px;
  border: 0;
  background-color: #B6E0EC;
}

input:focus {
  outline: 0;
}

.enviar {
  position: relative;
  top: 12px;
}

.save {
  position: relative;
  right: 60px;
  margin: 8px;
}

input[type='submit'] {
  color: #ffff;
  font-size: 18px;
  margin: 25px;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  padding-inline: 88px;
  background-color: #FF8802;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #fe972f;
}

.help {
  position: relative;
  bottom: 10px;
  cursor: pointer;
}