.app {
    display: flex;
}

.search {
    justify-content: center;
}

.input-search {
    width: 70%;
    padding-inline: 10px;
    margin-top: 26px;
    height: 27px;
    
}
input::placeholder {
    color: #048387;
    opacity: 50%;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    max-width: 100%;
}

.business {
    position: relative;
    top: 45px;
    max-width: 100%;
    height: 200px;
}

.img-commercial {
    width: 100%;
    max-width: 90%;
    height: 120px;
}